<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746798557732-nrurisg9ecqcsdj3gfpcifu2g2ik9r1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746798557732-nrurisg9ecqcsdj3gfpcifu2g2ik9r1m</string>
	<key>API_KEY</key>
	<string>AIzaSyAzIGrkF8uxdCQM8-DIDL2zHvQrYJKs6NE</string>
	<key>GCM_SENDER_ID</key>
	<string>746798557732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ifcaproperty.opusbay</string>
	<key>PROJECT_ID</key>
	<string>opusbay-b8b55</string>
	<key>STORAGE_BUCKET</key>
	<string>opusbay-b8b55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746798557732:ios:14469c12079258eaf5c6b1</string>
	<key>DATABASE_URL</key>
	<string>https://opusbay-b8b55.firebaseio.com</string>
</dict>
</plist>